@import url('https://fonts.googleapis.com/css?family=Patua+One');

body {
	background-image: asset-url('crushedpaper.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Patua One', cursive;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
h1 a:link,
h1 a:visited {
    color: black;
}
h1 {
  color: orangered;
  text-align: center;
  font-size: 3em;
	font-weight: bold;
}
h2 {
  color: black;
	text-align: center;
}
div {
  background-color: papayawhip;
}
@media (width: 600px) {
  h1 {
    font-size: 2em;
    padding: 2px;
  }
  li {
    padding: 5px;
    display: block;
  }
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 80%;
	margin: 0 auto;
	padding: 3.5em 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	background: green;
	padding: .5em .5em;
	border-radius: 2em;
	a {
		color: white;
		font-size: 1em;
		text-decoration: none;
	}
}

.button {
	text-decoration: none;
	margin: 1em 0;
}

a {
	color: green;
	text-decoration: none;
	text-align: center;
	&:hover {
		color: gray;
	}
}

header {
	background: teal;
	position: fixed;
	top: 0;
	left:0px;
	width: 100%;
	padding: 0;
	float: left;
	border-bottom: 2px solid teal;

	.header_inner {
		width: 100%;
		margin: 0 auto;

		nav {
			float: right;

			a {
				text-decoration: none;
				color: black;
				font-size: 1.1em;
				line-height: 4.5em;
				margin-right: 2em;
				&:hover {
					color: green;
				}
			}
		}
	}
}

footer {
	background: gray;
	width: 100%;
	padding: 2em 0;
	color: white;
	text-align: center;
	p {
		margin: 0;
		font-size: .85em;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 70%;
	margin-bottom: 1em;
	border: 2px solid #C0C1C1;
	border-radius: .4em;
	color: black;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 40px;
}

textarea {
	min-height: 200px;
}

// welcome page

#banner {
	background-image: url(image_path(""));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 500px;
	display: table;

	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			font-size: 3.5em;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;
			color: gray;
		}
	}
}

// notes styles

#notes {
	background-color: rgba(43, 46, 46, .9);
	width: 70%;
	min-height: 150px;
	margin: 5% auto;
	padding: 1em 2.5%;
	border-radius: 1em;
	text-align: center;
	letter-spacing: 1px;
	position: absolute;
	color: #33CD99;
	font-size: 1em;
}

#note_show {
	font-size: 2.5rem;
	margin-bottom: 1.25rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #E9E9E9;
	text-align: center;
	font-size: 1.375rem;
	line-height: 1.75;
	padding: .5rem 2rem;
	border-radius: 2rem;
	text-decoration: none;
	color: #33CD99;
	background: transparent;
}
